


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>멱살샵 본인확인</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="
    background-color:lightgoldenrodyellow;
">
    <div id="logo" style="
        background-image:url('http://localhost:8000/static/img/LOGO.png');
        background-size: cover;
        background-position: center;
        width: 400px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    "></div>


    <div style="
        width:400px;
        margin-left: auto;
        margin-right: auto;
    ">
        안녕하세요 {{ username }}님<br>
        저희는 본인확인을 위해 이 메일을 보냇습니다. 쓉빡쉐이야.
    </div>

    <div style="
        margin-left: auto;
        margin-right: auto;
        margin-top:100px;
        width:200px;
        height:50px;
    ">
        <a src="http://127.0.0.1:8000/account/signpass/{{ code }}"
        href="http://127.0.0.1:8000/account/signpass/{{ code }}">
            <input type="button" src="http://127.0.0.1:8000/account/signpass/{{ code }}" 
            onclick="location.href='http://127.0.0.1:8000/account/signpass/{{ code }}'" 
            href="http://127.0.0.1:8000/account/signpass/{{ code }}"
            value="본인확인버튼" style="
                background-color:rgb(182, 208, 255);
                color:black;
                border:none;
                border-bottom: solid 4px #D8728A;
                width:200px;
                height:50px;
                font-size:1.7em;
                
            ">
        </a>
    </div>


</body>

</html>