{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    
    <div id="signup_div">
    <form method="post" enctype="multipart/form-data" onsubmit="return tocheckpw()" action="/account/signup" class="sign_up">{% csrf_token %}
            <header>회원가입</header>
            
            <fieldset>					
                <section>
                    <label class="input">
                        <i class="icon-append icon-user"></i>
                        <input type="text" id="username" name="username" placeholder="아이디">
                        <div onclick="id_chk();">중복확인</div>
                        <b class="tooltip tooltip-bottom-right">영어와 숫자만 입력하세요</b>
                    </label>
                </section>

                <section>
                    <label class="input">
                        <i class="icon-append icon-user"></i>
                        <input type="text" id="nickname" name="nickname" placeholder="활동명">
                        <b class="tooltip tooltip-bottom-right">당신의 활동명입니다.</b>
                    </label>
                </section>
                
                <section>
                    <label class="input">
                        <i class="icon-append icon-envelope-alt"></i>
                        <input type="text" id="email" name="email" placeholder="이메일">
                        <b class="tooltip tooltip-bottom-right">본인인증에 필요합니다</b>
                    </label>
                </section>
                
                <section>
                    <label class="input">
                        <i class="icon-append icon-lock"></i>
                        <input id="pw" name="password" type="password" placeholder="비밀번호">
                        <b class="tooltip tooltip-bottom-right">영어와 숫자, 특수문자만 사용해주세요</b>
                    </label>
                </section>
                
                <section>
                    <label class="input">
                        <i class="icon-append icon-lock"></i>
                        <input id="pw_chk" name="password2" type="password" placeholder="비밀번호 확인">
                        <b class="tooltip tooltip-bottom-right">비밀번호를 다시 입력해주세요</b>
                        <p id="passwordValid">{{passwordValid}}</p>
                    </label>
                </section>
            </fieldset>
                
            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" id="name1" name="last_name"  placeholder="성">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" id="name2" name="first_name" placeholder="이름">
                        </label>
                    </section>
                </div>
                
            </fieldset>

            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="textarea">자기소개
                            <textarea id="me" name="me"  placeholder="사람들에게 보여질 자기소개를 써주세요"></textarea>
                        </label>
                    </section>
                </div>
            </fieldset>


            <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">프로필사진
                                <input type="file" id="imgInput" name="image">
                                <img id="image_section" src="#" alt="your image" />
                            </label>
                        </section>
                    </div>
            </fieldset>
            
            <fieldset>
                <section>
                    <label class="input">
                        <i class="icon-append icon-user"></i>페이스북 아이디
                        <input type="text" id="facebook" name="facebook" placeholder="페이스북 아이디">
                        <b class="tooltip tooltip-bottom-right">없으면 "none"입력</b>
                    </label>
                </section>
                <section>
                    <label class="input">
                        <i class="icon-append icon-user"></i>인스타그램 아이디
                        <input type="text" id="instargram" name="instargram" placeholder="인스타그램 아이디">
                        <b class="tooltip tooltip-bottom-right">없으면 "none"입력</b>
                    </label>
                </section>
                <section>
                    <label class="input">
                        <i class="icon-append icon-user"></i>유튜브 채널 코드
                        <input type="text" id="youtube" name="youtube" placeholder="유튜브 채널 코드">
                        <b class="tooltip tooltip-bottom-right">없으면 "none"입력</b>
                    </label>
                </section>
            </fieldset>
            <footer>
                <button type="submit" class="button">가입하기</button>
            </footer>
        </form>
    </div>


<script src="https://code.jquery.com/jquery.js"></script>
<script>
        function readURL(input) {
 
            if (input.files && input.files[0]) {
                var reader = new FileReader();
         
                reader.onload = function (e) {
                    $('#image_section').attr('src', e.target.result);
                }
         
                reader.readAsDataURL(input.files[0]);
            }
        }
         
        $("#imgInput").change(function(){
            readURL(this);
        });
</script>



<style>
        #signup_div{
            width:600px;
            margin:0 auto;
            display:table;
        }
        .sign_up {
            margin: 0;
            outline: none;
            font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
            color: #666;
        }
        .sign_up * {
            margin: 0;
            padding: 0;
        }
        .sign_up header {
            display: block;
            padding: 20px 30px;	
            border-bottom: 1px solid rgba(0,0,0,.1);
            background: rgba(248,248,248,.9);
            font-size: 25px;
            font-weight: 300;
            text-align: center;
            color: #232323;
        }
        .sign_up fieldset {
            display: block;	
            padding: 25px 30px 5px;
            border: none;
            background: rgba(255,255,255,.9);
        }
        
        .sign_up section {
            margin-bottom: 20px;
        }
        .sign_up footer {
            display: block;
            background-color: white
        }
        .sign_up a {
            color: #2da5da;
        }
        .sign_up .label {
            display: block;
            margin-bottom: 6px;
            line-height: 19px;
        }
        .sign_up .label.col {
            margin: 0;
            padding-top: 10px;
        }
        .sign_up .note {
            margin-top: 6px;
            padding: 0 1px;
            font-size: 11px;
            line-height: 15px;
            color: #999;
        }
        .sign_up .input,
        .sign_up .select,
        .sign_up .textarea,
        .sign_up .radio,
        .sign_up .checkbox,
        .sign_up .toggle,
        .sign_up .button {
            position: relative;
            display: block;
        }
        .sign_up .input input,
        .sign_up .select select,
        .sign_up .textarea textarea {
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            height: 39px;
            padding: 8px 10px;
            outline: none;
            border-width: 2px;
            border-style: solid;
            border-radius: 0;
            background: #fff;
            font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
            color: #404040;
            appearance: normal;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
        .sign_up .textarea textarea{
            height:200px;
        }
        
        
        /**/
        /* file inputs */
        /**/
        .sign_up .input-file .button {
            position: absolute;
            top: 4px;
            right: 4px;
            float: none;
            height: 31px;
            margin: 0;
            padding: 0 20px;
            font-size: 13px;
            line-height: 31px;
        }
        .sign_up .input-file .button:hover {
            box-shadow: none;
        }
        .sign_up .input-file .button input {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            font-size: 30px;
            cursor: pointer;
            opacity: 0;
        }
        
        
        /**/
        /* selects */
        /**/
        .sign_up .select i {
            position: absolute;
            top: 14px;
            right: 14px;
            width: 5px;
            height: 11px;
            background: #fff;
            box-shadow: 0 0 0 12px #fff;
        }
        .sign_up .select i:after,
        .sign_up .select i:before {
            content: '';
            position: absolute;
            right: 0;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        .sign_up .select i:after {
            bottom: 0;
            border-top: 4px solid #404040;
        }
        .sign_up .select i:before {
            top: 0;
            border-bottom: 4px solid #404040;
        }
        .sign_up .select-multiple select {
            height: auto;
        }
        
        
        /**/
        /* textareas */
        /**/
        .sign_up .textarea textarea {
            height: 50px;
            resize: none;
            -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
            transition:width 2s, height 2s, background-color 2s, transform 2s;
        }
        .sign_up .textarea textarea:focus {
            height: 200px;
        }
        .sign_up .textarea-resizable textarea {
            resize: vertical;	
        }
        .sign_up .textarea-expandable textarea {
            height: 39px;
        }
        .sign_up .textarea-expandable textarea:focus {
            height: 200px;
        }
        
        
        /**/
        /* radios and checkboxes */
        /**/
        .sign_up .radio,
        .sign_up .checkbox {
            margin-bottom: 4px;
            padding-left: 27px;
            font-size: 15px;
            line-height: 27px;
            color: #404040;
            cursor: pointer;
        }
        .sign_up .radio:last-child,
        .sign_up .checkbox:last-child {
            margin-bottom: 0;
        }
        .sign_up .radio input,
        .sign_up .checkbox input {
            position: absolute;
            left: -9999px;
        }
        .sign_up .radio i,
        .sign_up .checkbox i {
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 13px;
            height: 13px;
            outline: none;
            border-width: 2px;
            border-style: solid;
            background: #fff;
        }
        .sign_up .radio i {
            border-radius: 50%;
        }
        .sign_up .radio input + i:after,
        .sign_up .checkbox input + i:after {
            position: absolute;
            opacity: 0;
            transition: opacity 0.1s;
            -o-transition: opacity 0.1s;
            -ms-transition: opacity 0.1s;
            -moz-transition: opacity 0.1s;
            -webkit-transition: opacity 0.1s;
        }
        .sign_up .radio input + i:after {
            content: '';
            top: 4px;
            left: 4px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }
        .sign_up .checkbox input + i:after {
            content: '\f00c';
            top: -1px;
            left: -1px;
            width: 15px;
            height: 15px;
            font: normal 12px/16px FontAwesome;
            text-align: center;
        }
        .sign_up .radio input:checked + i:after,
        .sign_up .checkbox input:checked + i:after {
            opacity: 1;
        }
        .sign_up .inline-group {
            margin: 0 -30px -4px 0;
        }
        .sign_up .inline-group:after {
            content: '';
            display: table;
            clear: both;
        }
        .sign_up .inline-group .radio,
        .sign_up .inline-group .checkbox {
            float: left;
            margin-right: 30px;
        }
        .sign_up .inline-group .radio:last-child,
        .sign_up .inline-group .checkbox:last-child {
            margin-bottom: 4px;
        }

        .sign_up .button {
            background-color: #2da5da;
            opacity: 0.8;
            transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -webkit-transition: opacity 0.2s;
        }
        .sign_up .button {
            float: right;   
            height: 39px;
            overflow: hidden;
            margin: 10px 0 0 20px;
            padding: 0 25px;
            outline: none;
            border: 0;
            font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
        .sign_up .input, .sign_up .select, .sign_up .textarea, .sign_up .radio, .sign_up .checkbox, .sign_up .toggle, .sign_up .button {
            position: relative;
            display: block;
        }
        #image_section{
            height:200px;
            width: 200px;
            -webkit-transition:all 0.5s -webkit-transform 0.5s;
            transition:all 0.5s;
        }
</style>




<script type="text/javascript">
        var id_check = false;
    
        function tocheckpw() {
        var pw = document.getElementById("pw").value;
        var pwck = document.getElementById("pw_chk").value;
        var username_val = document.getElementById("username").value;
        var name1_val = document.getElementById("name1").value;
        var name2_val = document.getElementById("name2").value;
        var email_val = document.getElementById("email").value;
        if (pw.length<8){
            alert('비밀번호를 8자리 이상으로 설정해주세요');
            return false;
        }
        /*if (pw != pwck) {
            alert('비밀번호가 틀렸습니다. 다시 입력해 주세요');
            return false;
        }*/

        if(username_val.length<1){
            alert('ID를 입력해주세요');
            return false;
        }

        if(name1_val.length<1 || name2_val.length<1){
            alert('성함을 입력해주세요');
            return false;
        }
        if(email_val.length<5){
            alert('이메일을 입력해주세요');
            return false;
        }
        if(!id_check){
            alert('아이디 중복확인을 해주세요');
            return false;
        }
    }

    function id_chk(){
        
        $(document).ready(function(){

            var username_val = document.getElementById("username").value;

            $.ajax({
            
            type : "POST",
            
            url : "/account/id_check",
               //옵션이므로 JSON으로 받을게 아니면 안써도 됨
            
            data : { "username" : username_val, "csrfmiddlewaretoken": "{{csrf_token}}" },
            
            success : function(result) {
            
            //통신이 성공적으로 이루어졌을 때 처리하고 싶은 함수
                if(result=="go"){
                    id_check = true;
                    alert('id를 사용할 수 있습니다.');
                } else {
                    id_check = false;
                    alert('안돼 그거 쓰지 마!!!!!');
                }

            },
            
            error : function(xhr, status, error) {
            
            alert("서버에서 오류가 발생했습니다.");    //경고창 띄움
            
            }
            
            });
            
            });
    }
</script>



{% endblock %}