{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<div id="signup_div">
        <form method="post" onsubmit="return tocheckpw()" action="" class="sign_up">{% csrf_token %}
                <header>로그인</header>
                
                <fieldset>					
                    <section>
                        <label class="input">
                            <input type="text" id="username" name="username" placeholder="아이디">
                        </label>
                    </section> 
                    
                    <section>
                        <label class="input">
                            <input id="pw" name="password" type="password" placeholder="비밀번호">

                        </label>
                    </section>
                </fieldset>
                {% if login_form.non_field_errors %}
			{% for error in login_form.non_field_errors %}
			<p class="text-danger"><b>{{ error }}</b></p>
			{% endfor %}
		{% endif %}
                <footer>
                    <button type="submit" class="button">로그인</button>
                </footer>
            </form>
        </div>
    
    
    
    
    
    
    
    <style>
            #signup_div{
                width:600px;
                margin:0 auto;
                display:table;
            }
            .sign_up {
                margin: 0;
                outline: none;
                font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
                color: #666;
            }
            .sign_up * {
                margin: 0;
                padding: 0;
            }
            .sign_up header {
                display: block;
                padding: 20px 30px;	
                border-bottom: 1px solid rgba(0,0,0,.1);
                background: rgba(248,248,248,.9);
                font-size: 25px;
                font-weight: 300;
                text-align: center;
                color: #232323;
            }
            .sign_up fieldset {
                display: block;	
                padding: 25px 30px 5px;
                border: none;
                background: rgba(255,255,255,.9);
            }
            
            .sign_up section {
                margin-bottom: 20px;
            }
            .sign_up footer {
                display: block;
                background-color: white
            }
            .sign_up a {
                color: #2da5da;
            }
            .sign_up .label {
                display: block;
                margin-bottom: 6px;
                line-height: 19px;
            }
            .sign_up .label.col {
                margin: 0;
                padding-top: 10px;
            }
            .sign_up .note {
                margin-top: 6px;
                padding: 0 1px;
                font-size: 11px;
                line-height: 15px;
                color: #999;
            }
            .sign_up .input,
            .sign_up .select,
            .sign_up .textarea,
            .sign_up .radio,
            .sign_up .checkbox,
            .sign_up .toggle,
            .sign_up .button {
                position: relative;
                display: block;
            }
            .sign_up .input input,
            .sign_up .select select,
            .sign_up .textarea textarea {
                display: block;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                width: 100%;
                height: 39px;
                padding: 8px 10px;
                outline: none;
                border-width: 2px;
                border-style: solid;
                border-radius: 0;
                background: #fff;
                font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
                color: #404040;
                appearance: normal;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
            
            
            /**/
            /* file inputs */
            /**/
            .sign_up .input-file .button {
                position: absolute;
                top: 4px;
                right: 4px;
                float: none;
                height: 31px;
                margin: 0;
                padding: 0 20px;
                font-size: 13px;
                line-height: 31px;
            }
            .sign_up .input-file .button:hover {
                box-shadow: none;
            }
            .sign_up .input-file .button input {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                font-size: 30px;
                cursor: pointer;
                opacity: 0;
            }
            
            
            /**/
            /* selects */
            /**/
            .sign_up .select i {
                position: absolute;
                top: 14px;
                right: 14px;
                width: 5px;
                height: 11px;
                background: #fff;
                box-shadow: 0 0 0 12px #fff;
            }
            .sign_up .select i:after,
            .sign_up .select i:before {
                content: '';
                position: absolute;
                right: 0;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }
            .sign_up .select i:after {
                bottom: 0;
                border-top: 4px solid #404040;
            }
            .sign_up .select i:before {
                top: 0;
                border-bottom: 4px solid #404040;
            }
            .sign_up .select-multiple select {
                height: auto;
            }
            
            
            /**/
            /* textareas */
            /**/
            .sign_up .textarea textarea {
                height: auto;
                resize: none;
            }
            .sign_up .textarea-resizable textarea {
                resize: vertical;	
            }
            .sign_up .textarea-expandable textarea {
                height: 39px;
            }
            .sign_up .textarea-expandable textarea:focus {
                height: auto;
            }
            
            
            /**/
            /* radios and checkboxes */
            /**/
            .sign_up .radio,
            .sign_up .checkbox {
                margin-bottom: 4px;
                padding-left: 27px;
                font-size: 15px;
                line-height: 27px;
                color: #404040;
                cursor: pointer;
            }
            .sign_up .radio:last-child,
            .sign_up .checkbox:last-child {
                margin-bottom: 0;
            }
            .sign_up .radio input,
            .sign_up .checkbox input {
                position: absolute;
                left: -9999px;
            }
            .sign_up .radio i,
            .sign_up .checkbox i {
                position: absolute;
                top: 5px;
                left: 0;
                display: block;
                width: 13px;
                height: 13px;
                outline: none;
                border-width: 2px;
                border-style: solid;
                background: #fff;
            }
            .sign_up .radio i {
                border-radius: 50%;
            }
            .sign_up .radio input + i:after,
            .sign_up .checkbox input + i:after {
                position: absolute;
                opacity: 0;
                transition: opacity 0.1s;
                -o-transition: opacity 0.1s;
                -ms-transition: opacity 0.1s;
                -moz-transition: opacity 0.1s;
                -webkit-transition: opacity 0.1s;
            }
            .sign_up .radio input + i:after {
                content: '';
                top: 4px;
                left: 4px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
            .sign_up .checkbox input + i:after {
                content: '\f00c';
                top: -1px;
                left: -1px;
                width: 15px;
                height: 15px;
                font: normal 12px/16px FontAwesome;
                text-align: center;
            }
            .sign_up .radio input:checked + i:after,
            .sign_up .checkbox input:checked + i:after {
                opacity: 1;
            }
            .sign_up .inline-group {
                margin: 0 -30px -4px 0;
            }
            .sign_up .inline-group:after {
                content: '';
                display: table;
                clear: both;
            }
            .sign_up .inline-group .radio,
            .sign_up .inline-group .checkbox {
                float: left;
                margin-right: 30px;
            }
            .sign_up .inline-group .radio:last-child,
            .sign_up .inline-group .checkbox:last-child {
                margin-bottom: 4px;
            }
    
            .sign_up .button {
                background-color: #2da5da;
                opacity: 0.8;
                transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -ms-transition: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -webkit-transition: opacity 0.2s;
            }
            .sign_up .button {
                float: right;   
                height: 39px;
                overflow: hidden;
                margin: 10px 0 0 20px;
                padding: 0 25px;
                outline: none;
                border: 0;
                font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }
            .sign_up .input, .sign_up .select, .sign_up .textarea, .sign_up .radio, .sign_up .checkbox, .sign_up .toggle, .sign_up .button {
                position: relative;
                display: block;
            }
            
    </style>  
{% endblock %}