{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="pass">
    <h1>메일 인증이 완료되었습니다</h1>
    <div id="user_info">
        아이디 : {{ pass_user.username }}<br>
        성함 : {{ pass_user.last_name }}{{ user.first_name }}
    </div>
    <div id="go_login">
        <input type="button" onclick="location.href='/account/login'" value="로그인">
    </div>
</div>

<style>

#pass{
    color:#666;
    width:500px;
    height:500px;

    margin: 0 auto;
}

#pass h1{
    text-align: center;
}

#user_info{
    width:350px;
    height: 100px;
    margin:0 auto;
}

#go_login{
    width:300px;
    height:auto;
    margin: 0 auto;
}

#go_login input{
    width:300px;
    height:30px;
    background-color: cornsilk;
    font-size: 1.2em;
    text-align: center;
}

</style>
{% endblock %}