{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="w3-container">
{% for contact in contacts %}
        <form action="/me/update" method="post" class="w3-card-4 w3-light-grey card-option" style="
            margin:10px;
            display: inline-flex;
            width:400px;">{% csrf_token %}
            <input type="hidden" name="index" value="{{contact.index}}">
            <div class="w3-container w3-center">
                <img src="{{contact.photo_thumbnail.url}}" alt="Avatar" style="width:80%; margin-top:20px;">
                <h4><textarea id="content" name="content">{{contact.content}}</textarea></h4>
                <h5>ISO <input class="detail" type="number" value="{{contact.iso}}" name="iso">|
                    <input class="detail" type="text" value="{{contact.aperture}}" name="aperture">|
                    <input class="detail" type="text" value="{{contact.shutter_speed}}" name="shutter_speed"></h5>
                <input type="submit" class="w3-button w3-green" value="수정하기" style="width:150px;">
                <a href="/me/delete/?del={{contact.index}}">
                    <input class="w3-button w3-red" value="삭제하기" style="width:120px;"/>
                </a>
            </div>
        </form>    
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<style>
        .detail{
            width:80px;
            font-size: 1em;
        }
        .pagination{
            text-align: center;
        }
</style>


{% endblock %}






