{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<form method="post" action="/upload" enctype="multipart/form-data">{% csrf_token %}
    <p><label for="id_iso">ISO:</label> <input type="number" name="iso" value="0" required="" id="id_iso"></p>
    <p><label for="id_shutter_speed">셔터스피드:</label> <input type="text" name="shutter_speed" maxlength="10" required="" id="id_shutter_speed"></p>
    <p><label for="id_aperture">조리개:</label> <input type="text" name="aperture" maxlength="50" required="" id="id_aperture"></p>
    <p><label for="id_content">내용:</label> <textarea name="content" cols="40" rows="10" required="" id="id_content" style="margin: 0px; height: 168px; width: 307px;"></textarea></p>
    <p><label for="id_photo">사진:</label> <input type="file" name="photo" accept="image/*" required="" id="id_photo"></p>
    <p><input type="submit" value="등록하기"></p>
</form>
{% endblock %}