@charset "UTF-8";
/* CSS Document */

body{
	padding:0;
  margin:0;
  outline: none;
}

#login{
  height:30px;
  width: 100%;
  background-color:#666;
}

#header{
  width:100%;
  height:130px;
  float : right;
  display: inline-block ;
}

#header #logo{
  background-size: cover;
  background-position: center;
  float: left;
  width : 200px;
  height: 130px;
  margin-left: 100px;
}

#header nav{
  float: right;
  height:60px;
  margin:35px 0;
  margin-right: 70px;
}

#header ul{
	overflow: auto;
	list-style-type: none;	
}

#header li{
	height: 25px;
	float: left;
	border-right: 1px solid #aaa;
	padding: 0px 20px;
}

#header li:last-child{
	border-right: none;
}


#header li a {  
  text-decoration: none;
  color: #666;
  font: 20px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
 
#header li a:hover {
  color: #aaa;
}
 
#header li.active a {
  font-weight: bold;
  color: #333;
}

#login ul{
  height: 30px;
  margin:0;
	overflow: auto;
  list-style-type: none;	
  float: right;
  margin-right: 90px;
}

#login li{
  height:20px;
	float: left;
  padding: 0px 20px;
  margin: 5px 0;
}



#login li a {
  color: #ccc;
  font-family:  Helvetica, Verdana, sans-serif;  
  font-size: 12px;
  text-decoration: none;
}
 







footer {
  display: unset;
  margin:0;
  padding:0;
  position: initial;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #effefe;
}

