{% load staticfiles %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	

<script src="https://code.jquery.com/jquery.js"></script>

<div id="login">
	{% if user.is_authenticated %}
	<ul>
		<li><a>{{ user.username }}</a></li>
		<li><a href="/account/logout">로그아웃</a></li>
		<li><a href="/me">마이페이지</a></li>
		<li><a href="/upload">업로드</a></li>
	</ul>
	{% else %}
	<ul>
		<li><a href="{% url "login" %}?next={{ request.path }}">로그인</a></li>
		<li><a href="/account/signup">회원가입</a></li>
		<li><a href="/account/login">마이페이지</a></li>
    <li><a href="/upload">업로드</a></li>
	</ul>
	{% endif %}
</div>

<div id="header">
	<div id="logo" style="background-image: url('{% static 'img/LOGO.png' %}')"
	onclick="location.href='/'"></div>
	<nav id="choice">
		
			<ul>
        <li><a href="/">홈</a></li>
				<li><a href="/me/all">내 게시물 보기</a></li>	
			</ul>
	</nav>
</div>






{% block content %}
{% endblock %}







<footer>
	<div id="me"><br>
		<div id="copyright">
				Copyright 2018. Myuksal  All pictures cannot be copied without permission.
		</div><br>
	</div>
</footer>
	
</body>
</html>


<style>
	@charset "UTF-8";
/* CSS Document */

body{
	padding:0;
  margin:0;
  outline: none;
}

#login{
  height:30px;
  width: 100%;
  background-color:#666;
}

#header{
  width:100%;
  height:130px;
  float : right;
  display: inline-block ;
}

#header #logo{
  background-size: cover;
  background-position: center;
  float: left;
  width : 200px;
  height: 130px;
  margin-left: 100px;
}

#header nav{
  float: right;
  height:60px;
  margin:35px 0;
  margin-right: 70px;
}

#header ul{
	overflow: auto;
	list-style-type: none;	
}

#header li{
	height: 25px;
	float: left;
	border-right: 1px solid #aaa;
	padding: 0px 20px;
}

#header li:last-child{
	border-right: none;
}


#header li a {  
  text-decoration: none;
  color: #666;
  font: 20px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
 
#header li a:hover {
  color: #aaa;
}
 
#header li.active a {
  font-weight: bold;
  color: #333;
}

#login ul{
  height: 30px;
  margin:0;
	overflow: auto;
  list-style-type: none;	
  float: right;
  margin-right: 90px;
}

#login li{
  height:20px;
	float: left;
  padding: 0px 20px;
  margin: 5px 0;
}



#login li a {
  color: #ccc;
  font-family:  Helvetica, Verdana, sans-serif;  
  font-size: 12px;
  text-decoration: none;
}
 







footer {
  display: unset;
  margin:0;
  padding:0;
  position: initial;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #effefe;
}


footer #copyright{
	width: 400px;
	font: 12px Helvetica, Verdana, sans-serif;
	text-align: center;
	margin: 0 auto;
  }
</style>